In [1]:
import pandas as pd

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [6]:
data=[4, 8, 15, 16, 23, 42]
s=pd.Series(data)
print(s)
print(type(s))

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64
<class 'pandas.core.series.Series'>

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [7]:
L=[1,2,3,4,5,6,7,89,99,100]
series=pd.Series(L)
print(series)

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7     89
8     99
9    100
dtype: int64

In [17]:
##3ans
data={
    'Name':['Alice','Bob','Claire'],
    'Age':[25,30,27],
    'Gender':['Female','Male','Female'],
     }
Data=pd.DataFrame(data)
print(Data)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female


Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [23]:
## series one dimensional structure 
## Dataframe is two dimensionl labelled structure
age=[25,30,27]
print(pd.Series(age))
print(pd.DataFrame(
      { 'Name':['Alice','Bob','Claire'],
    'Age':[25,30,27],
    'Gender':['Female','Male','Female'],
        }))

0    25
1    30
2    27
dtype: int64
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [28]:
df=pd.read_csv("readalgerian.csv",header=1)

In [30]:
##use to get first 5 records
df.head()
##use to get last 5 records
df.tail()
## to get info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          246 non-null    object
 1   month        245 non-null    object
 2   year         245 non-null    object
 3   Temperature  245 non-null    object
 4    RH          245 non-null    object
 5    Ws          245 non-null    object
 6   Rain         245 non-null    object
 7   FFMC         245 non-null    object
 8   DMC          245 non-null    object
 9   DC           245 non-null    object
 10  ISI          245 non-null    object
 11  BUI          245 non-null    object
 12  FWI          245 non-null    object
 13  Classes      244 non-null    object
dtypes: object(14)
memory usage: 27.0+ KB

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [36]:
## series==mutable
## DataFrame=mutable
##  Panel=mutable

Create a DataFrame using multiple Series. Explain with an example.

In [ ]:
Name=['Alice','Bob','Claire']
ns=pd.Series(Name)
age=[25,30,27]
nas=pd.Series(age)